.header {
    width: 100%;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px;
    height: 200px;
}

.clock {
    font-weight: 700;
    font-size: 24px;
    border: 1px solid coral;
    border-radius: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lot {
    margin-top: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid coral;
}

.clock .icon {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 10px;
}

.clock .icon.day {
    background-color: red;
}

.clock .icon.night {
    background-color: blue;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: beige;
    padding: 10px 0;
}
